.linear-grad {
    -fx-background-color: linear-gradient(to top right, #9dd187, #00d0ff);
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10.0, 0.0, 0.0, 10.0);
}

/* #8ae7eb, #1596bd); */

.button1 {
    -fx-background-color: #52b9d1;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
}

.button1:hover {
    -fx-text-fill: #075ddd;
} 

.button1:pressed {
    -fx-text-fill: #1771bb;
}

.button1:active {
    -fx-text-fill: #90AFF5;
}

.button2 {
    -fx-background-color: #a8d9e7;
    -fx-background-radius: 5;
    -fx-text-fill: #035bc0;
    -fx-border-color: #027bec;
    -fx-border-radius: 5;
}

.button2:hover {
    -fx-text-fill: #458cc7;
} 

.button2:pressed {
    -fx-text-fill: #1b51a3;
}

.button2:active {
    -fx-text-fill: #90AFF5;
}

.text {
    -fx-text-fill: #e7ebd7;
}

.line-color {
    -fx-background-color: #ffffff;
}

.transparentCon {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
}

.whiteBackground {
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.dash {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10.0, 0.0, 0.0, 10.0);
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
}

.dash:hover {
    -fx-text-fill: #6164fc94;
    -fx-background-color:#61fcbb94;
} 

.dash:pressed {
    -fx-text-fill: #4dedf8;
    -fx-background-color:#00b18a94;
}

.dash:active {
    -fx-text-fill: #ffffff;
}

.stock {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
}

.stock:hover {
    -fx-text-fill: #00b66a;
    -fx-background-color:#67e037be;
} 

.stock:pressed {
    -fx-text-fill: #33fd00;
    -fx-background-color:#4d9e2dd5;
}

.stock:active {
    -fx-text-fill: #ffffff;
}

.his {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
}

.his:hover {
    -fx-text-fill: #c5b800;
    -fx-background-color:#e9ff6bee;
} 

.his:pressed {
    -fx-text-fill: #e9ff6bee;
    -fx-background-color:#b5c200;
}

.his:active {
    -fx-text-fill: #ffffff;
}

.help {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
}

.help:hover {
    -fx-text-fill: #f813d2;
    -fx-background-color:#e17dff;
} 

.help:pressed {
    -fx-text-fill: #e9ff6bee;
    -fx-background-color:#b5c200;
}

.help:active {
    -fx-text-fill: #ffffff;
}

.logout {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
}

.logout:hover {
    -fx-text-fill: #c5b800;
    -fx-background-color:#e9ff6bee;
} 

.logout:pressed {
    -fx-text-fill: #e9ff6bee;
    -fx-background-color:#b5c200;
}

.logout:active {
    -fx-text-fill: #ffffff;
}

.tableBackground {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
}